.billWrapper {
  background-color: #ddd;
  margin: 12px 0px;
  display: flex;
}
.billInner {
  padding: 24px 24px;
}

.billsWrapper {
  margin: 32px 0;
}

.h1 {
  margin-top: 0;
  font-size: 46px;
}

.h2 {
  font-weight: normal;
}

.h3 {
  margin: 0;
  padding: 0;
}

.p {
  margin: 0;
  padding: 0;
  margin-top: 8px;
}

.partyWrapper {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #1d70b8;
  color: #fff;
  padding: 72px 0;
}

/* mobile */

@media (max-width: 600px) {
  .h1 {
    font-size: 38px;
  }
  .h2 {
    font-size: 27px;
  }
  .h3 {
    font-size: 15px;
  }
  .billInner {
    padding: 12px 12px;
  }
  .billWrapper {
    margin: 0;
    border-top: 1px solid #444;
    background-color: #fff;
  }
  .billsWrapper {
    margin: 0;
  }
  .header {
    padding: 64px 16px;
  }
}
