html,
body {
  margin: 0;
  padding: 0;
  background-color: #555;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

header {
  background-color: #111;
}

main {
  max-width: 900px;
  margin: 0 auto;
  width: 90%;
}

a {
  text-decoration: none;
  color: #111;
}
