.container {
  color: #fff;
}

.image_container {
  display: flex;
  justify-content: center;
  margin-top: 128px;
}

.image {
  height: 240px;
  width: 240px;
  border-radius: 100%;
  background: #ddd;
  background-position: center;
  background-size: cover;
}

.h1 {
  text-align: center;
  margin-top: 54px;
}

.p {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 16px;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
